@import '../../styles/variables.scss';

.login-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .login-form {
        position: relative;
        align-self: center;
        width: 320px;
    }
}
