.pull-records {
    .pull-record {
        display: flex;
        height: 3rem;
        align-items: center;
        justify-content: space-between;

        &.rarity-5 {
            background: linear-gradient(to right, rgb(156, 109, 105, 0.8), rgb(206, 166, 106, 0.8));
        }
    
        &.rarity-4 {
            background: linear-gradient(to right, rgb(96, 94, 128, 0.8), rgb(136, 89, 202, 0.8));
        }
    
        &.rarity-3 {
            background: linear-gradient(to right, rgb(90, 90, 122, 0.8), rgb(69, 118, 191, 0.8));
        }

        .timestamp {
            padding: 0 1rem;
        }

        .pull-entity-name {
            flex: 1;
            font-weight: bold;
        }

        .pull-entity-icons {
            padding-right: 1rem;
            
            img {
                height: 2rem;
            }
        }
    }
}