@import '../../styles/variables.scss';

.light-cones {
    flex: 1;
    display: flex;
    flex-direction: column;

    .filter-bar {
        flex-direction: column;
        margin: 2rem;
        margin-bottom: 0rem;
        padding: 2rem;
        background-color: $card-background-color;
        border-radius: 1rem;
    }
}