@import '../../styles/variables.scss';

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 8rem);
    justify-content: space-between;
    grid-gap: 0.5rem;
    padding: 1rem 2rem;

    .card {
        width: 8rem;
        height: 10rem;
        background-color: $card-background-color;
        border-radius: 1rem;
        overflow: hidden;
        cursor: pointer;

        &:hover {
            background-color: $card-background-color-hover;
            fill: #ccc;
        }

        &.new-entity {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 50%;
            }
        }

        .card-thumbnail {
            height: 85%;
        }

        .card-title {
            display: flex;
            align-items: center;
            padding: 0 0.5rem;
            height: 15%;

            span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}