@import '../../styles/variables.scss';

.users {
    p {
        .edit-hint {
            color: $button-secondary-background-color;
            fill: $button-secondary-background-color;
        }

        .delete-hint {
            color: $button-danger-background-color;
            fill: $button-danger-background-color;
        }

        svg {
            height: 1rem;
        }
    }

    .users-table {
        position: relative;
        width: 100%;
        text-align: left;
        border: 1px solid white;
        border-collapse: collapse;

        tr, th, td {
            border: 1px solid white;
        }
        
        th, td {
            padding: 1rem;
        }

        thead {
            background-color: #5f5f5f;
        }

        .user-row {
            // cursor: pointer;
            input {
                width: 100%;
                color: inherit;
                background: none;
                outline: none;
                border: none;
                border-bottom: 1px solid $form-border-color;
                box-sizing: border-box;

                &:disabled {
                    border-bottom: none;
                    cursor: text;
                }
            }

            select {
                background: none;
                color: inherit;

                &:disabled {
                    border: none;
                    opacity: unset;
                    appearance: none;
                    white-space: nowrap;
                }

                option {
                    background: none;
                    color: inherit;
                }
            }

            .action-icon {
                display: block;
                width: 100%;
                text-align: center;
                cursor: pointer;

                svg {
                    height: 1.5rem;
                    width: 1.5rem;
                }

                &.disabled {
                    fill: $icon-disabled-fill-color !important;
                    cursor: not-allowed;
                }

                &.edit {
                    &:hover {
                        fill: $button-secondary-background-color;
                    }
                    
                    &:active {
                        fill: $button-secondary-background-color-active;
                    }
                }

                &.save {
                    &:hover {
                        fill: $button-tertiary-background-color;
                    }
                    
                    &:active {
                        fill: $button-tertiary-background-color-active;
                    }
                }

                &.delete {
                    &:hover {
                        fill: $button-danger-background-color;
                    }
                    
                    &:active {
                        fill: $button-danger-background-color-active;
                    }
                }
            }
        }
    }
    
    .new-user-button {
        margin-top: 1rem;
        white-space: nowrap;
    }
}